/* color Azul obscuro = #004372
color Azul no tan obscuro = #005692
color original = #0070C0
Azul claro = #0396FF
Verde obscuro = #007B43
Verde Neutro #0ee243 
Azul obscuro #001E34*/

body
{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    /* background: #001E34; */
}

h1,h2,h3,h4,h5,h6
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
    
/*     text-transform: capitalize;
    text-decoration: underline; */
}

ol,
ul
{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1
{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
}

h1 strong 
{
    color: #0ee243;
    font-style: italic;
}

h2
{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.project-photoshop,
.project-date,
.project-url
{
    margin: 10px 0;
}

.project-description
{
    font-size: 20px;
}

.project strong
{
    font-family: 'Fjalla One', sans-serif;
}

.logo
{
    display: flex;
    align-items: center;
}

body header nav ol li:nth-child(3) a
{
    padding-right: 25px;
}

.universitario strong
{
    font-style: normal;
    /* font-style: italic; */
}

.flexbox
{
    display: flex;
    height: 400px;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: flex-start;
    
}

.box 
{
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.header
{
    background-color: #004372;
    color: white;
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
}

.header a
{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.header ol
{
    display: flex;
    height: inherit;
}

.header ol li
{
    height: inherit;
}

.menu
{
    height: inherit;
}

.hero
{
    height: 300px;
    /* background-image: url('https://i.imgur.com/sVRBz63.jpg');
    background-size: 450px 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
    background-color: #004372;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.hero-image
{
    object-fit: cover;
}

.portfolio
{
    background: #F6F6F6;
    padding: 20px;
}

.portfolio-title
{
    margin: 10px 20px 30px 0px;
    width: inherit;
    text-align: center;
}

article.project
{
    /* box-shadow: 3px 5px 10px #888888; */
}

.project 
{
    border: 1px solid gray;
    border-radius: 10px;
    /* border-color: red;
    border-width: 15px;
    border-style: solid; */
    margin-bottom: 15px;
    margin: 10px;
    padding: 20px;
    background: #f0f2f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-title
{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details
{
    width: 500px;
    /* margin: 10px 20px; */
    /* margin: 0 auto; */
}

.project-imageContainer
{
    width: 500px;
}

.education1Article
{
    margin: 10px 10px 40px 10px; 
    border-radius: 10px;
    width: 450px;
    overflow: hidden;
    flex-shrink: 0;
    background: #e9fbfd;
    /* box-shadow: 3px 5px 10px #888888; */
}

/* .education1Article img
{
    width: 480px;
    /* object-fit: fill; */
/* } */

.education1-imageContainer
{
    margin-left: 0;
    margin-top: 0;
    width: inherit;
    height: 200px;
   
}

.education1-image
{
    margin: 0;
    /* border-radius: 10px; */
    width: inherit;
    height: inherit;
    object-fit: cover;
}

.education-detail
{
    margin: 20px 40px;
    background-color: white;
    margin-top: -45px;
    position: relative;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}

.education1-description
{
    text-align: left;
    margin-bottom: 30px;
}

.education1-url
{
    color: #296fff;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.education-list
{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;
}

.education-list-title
{
    margin: 0px 20px 20px 0px;
    width: inherit;
    text-align: center;
}


.contact
{
    background-color: #004372;
    color: white;
    height: 150px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.social
{
    width: 260px;
    display: flex;
    justify-content: space-between;
}

.social-link
{
    display: inline-block;
    height: 50px;
    width: 50px;
    background-size: 50px 50px;
}

.social-link.twitter
{
    background-image: url('../images/twitter.svg');
}

.social-link.facebook
{
    background-image: url('../images/facebook.svg');
}

.social-link.github
{
    background-image: url('../images/github.svg');
}

.social-link.instagram
{
    background-image: url('../images/instagram.svg');
}

.form-email input
{
    border-color: gray;
    padding: 8px 20px 8px 30px;
    background-image: url('../images/envelope.svg');
    background-size: 20px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
    border-radius: 5px;
    border-style: solid;
}

.form-email h3
{
    font-family: 'Source Sans Pro', sans-serif;
}

#contacto  form  input[type=submit]:nth-child(3)
{
    display: block;
    margin: 10px 0 10px 0;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    background-image: none;
    justify-content: center;
    padding: 8px 30px 8px 30px;
}

.footer
{
    color: white;
    background-color: #1d252c;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0;
    height: 110px;
    white-space: nowrap;
}

.footer img
{
    vertical-align: middle;
}

.footer a
{
    color: white;
}

.footer div p
{
    margin-bottom: 0;
}

.container 
{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    /* background: #F8F8F8; */
}
